body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

h1 {
    font-weight: bold;
}
.leaderboard .heading {
    display: flex;
}

form {
    display: flex;
    justify-content: flex-end;
}